body {
  margin: 0; /* Remove default margin */
  width: 100vw; /* Set width to full viewport width */
  height: 100vh; /* Set height to full viewport height */

  display: flex; /* Enable flexbox */
  flex-direction: column;
  justify-content: center; /* Center items horizontally */
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  /* border: 1px solid black; */
}

.row {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}

.square {
  width: 98px;
  height: 98px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #ffc343;
}

.food {
  background-image: url(images/uss/food1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hidden {
  display: none;
}
.message {
  font-size: 40px;
  font-family: Roboto;
  font-weight: bold;
  color: orange;
}
.message_container {
  height: 50px;
}

.pea {
  background-image: url(images/uss/pea.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.pea_solo {
  background-image: url(images/uss/pea_solo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.kere {
  background-image: url(images/uss/kere.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.kere_vasakule {
  background-image: url(images/uss/kere_vasakule.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.kere_paremale {
  background-image: url(images/uss/kere_paremale.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.saba {
  background-image: url(images/uss/saba.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.alla {
  transform: rotate(90deg);
}
.vasakule {
  transform: rotate(180deg);
}
.üles {
  transform: rotate(270deg);
}
